body{
  background: url("./img/sitebg.png") no-repeat center fixed;
  background-size: cover;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
  color: var(--secondary);
}
body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  border-radius: .8rem;
  background: #4b2863d3;
}

.App{
  max-width: 960px;
  margin: 0 auto;
}