@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face{
  font-family: 'Logo';
  src: url('./TheHistoriaDemo.otf');
  font-style: normal;
}

body {
  margin: 0;
  background: #151616;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg:  #121212;
  --bg-accent: #484a4d;
  --text-color: #fff;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}
.header {
  border-bottom: var(--border);
  background-color: var(--bg);
  padding: 10px 0;
}
.header::after {
  content: '';
  display: table;
  clear: both;
}
.logo {
  background-color: transparent;
  color: var(--text-color);
  line-height: 30px;
  margin-top: 15px;
  padding: 0;
  font-family: 'Logo', cursive;
  margin-bottom: 5px;
  margin-left: 190px;
  font-size: 40px;
  font-weight: 100;
  height: 10px;
}
/* .colorChange {
  color: rgb(75, 187, 80);

} */
/* Top Navigation Bar */

/* <nav> */
.navbar {
  margin-top: 0px;
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  padding-bottom: -30px;

}

/* <ul> */
.navbar-nav {
  margin-top: -37px;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 190px;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #2c2c2c;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 85px;
  width: 300px;
  transform: translateX(-42%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
} 
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
.extra {
  margin-right: 15px;
}

.post {
  color: #fff;
  width: 800px;
  margin: 90px auto;
  border: var(--border);
  background-color: var(--bg);
  border-radius: 15px;
  padding: 0 20px;
}
.post-info {
  text-align: justify;
}
.post-info p {
  margin-top: -5px;
  background-color: var(--bg);
  color: #fff;
}
.post-title {
  font-family: 'logo';
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  font-size: 50px;
}
.post-info h3{
  cursor: pointer;
}
.infoBackdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.87);
}
.gitHubIcon {
  margin-top: -5px;
  padding: 10px 0;
}
.gitIconicon{
  font-size: 30px;
}
.gitHubIconLink {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}
.gitHubIconLink:hover{
  color:rgba(255, 255, 255, 0.596);
}
.skillBtn {
  float: right;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-top: -5px;
  font-size: 18px;
  border: var(--border);
  padding:5px ;
  border-radius: 15px;
}
.skillBtn:hover {
  background-color: #fff;
  color: #121212;
}
@media only screen and (max-width: 700px) {
  .logo {
    margin-left: 20px;
    font-size: 40px;
  }
  .navbar-nav {
    margin-right: 9px;
  }
  .post {
    width: 80vw;
  }
  .post-title {
    font-size: 40px;
  }
}